@use 'variables' as *;

.carousel-caption-custom,
.carousel-caption-custom-1 {
    position: absolute;
    top: 35%;
    left: 13%;
    max-width: 800px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.carousel-caption-custom-2 {
  position: absolute;
  top: 35%;
  right: 13%;
  text-align: right;
  z-index: 10;

  h2 {
    font-family: $h;
    font-size: 32px;
    color: $verde;
    margin: 0;
    font-weight: bold;
  }
}


.carousel-caption-custom-1 {
    h1 {
        font-family: $h;
        font-size: 40px;
        color: white;
    }



    h2 {
        font-family: $h;
        color: white;
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-family: $p;
        font-size: 16px;
        color: #333;
        margin-bottom: 16px;
    }
}

    .botones_container {
        a#consulta {
            background-color: $verde;
            color: #fff;
            margin-top: 15px;
            padding: 12px 24px;
            text-decoration: none;
            border-radius: 8px;
            font-family: $p;
            font-size: 16px;
            transition: all 0.3s ease;

            &:hover {
                background-color: $verde-claro;
                color: $verde;
                border: 2px solid $verde;
            }
        }
    }



.frase {
    font-family: $h;
    font-size: 24px;
    text-align: center;
    color: $verde;
    padding: 5%;

}