@use 'variables' as *;
.separador {
  height: 2rem; 
}.titulos {
  display: flex;
  align-items: center;
  gap: 2rem; // espacio entre h1 y h2
}

h2.pages.subtitulo {
  position: relative;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #B1ADA2;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 100vw;
    background-color: $gris;
    z-index: -1;
  }
}


.servicio {
  position: relative;
  margin-bottom: 3rem;

  .imagen {
    width: 100%;

    img {
      width: 25%;
      height: auto;
      display: block;
      margin-left: 5%;
    }
  }

  .recuadro {
    background-color: rgba(96, 130, 118, 0.43);
    color: #536E64;
    padding: 2rem;
    max-width: 800px;
    max-height: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    h3 {
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding-left: 100px;
    }

    p {
      margin-bottom: 1.5rem;
      margin-top: 1rem;
      padding-left: 100px;
    }

    .btn-consulta {
      background-color: #536E64;
      color: #fff;
      padding: 0.75rem 1.5rem;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      margin-left: 100px;
    }
  }

  &.online .recuadro {
    top: 85%;
    left: 22%;
  }
   &.presencial .recuadro {
    top: 80%;
    left: 25%;
    margin-bottom: 30px;
    padding-right: 50px;
  }

  &.presencial {
    .imagen-presencial {
      display: flex; // necesario para que margin-left: auto funcione
      width: 100%;

      img {
        width: 25%;
        height: auto;
        margin-left: auto;
        margin-right: 5%;
        display: block;
      }
    }

    .recuadro {
      right: 20%;
    }
  }
}
