@use 'variables' as *;
// MIXINS
@mixin desktop {
    @media (min-width: $desktop-min) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: $mobile-max) {
      @content;
    }
  }

  @mixin mobile-tablet {
  @media (max-width: $tablet-max) {
    @content;
  }
}

@mixin titulo-fondo {
  font-size: 150px;
  color: rgba(#5A796E, 0.15);
  text-align: left;
  font-weight: $regular;
  margin-left: 10px;
}
 